body,html {
  font-size: 14px;
  font-variant: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.big-title {
  font-size: 40px;
  line-height: 1em;
}

.big-title-zh {
  font-size: 44px;
  line-height: 1em;
}

.md-title {
  font-size: 32px;
  line-height: 1em;
}

.xl-title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

.xl-title-zh {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.list-text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.list-text-zh {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.normal-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.normal-text-zh {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.btn-link {
  text-decoration: none !important;
  color: #EB761c !important;
  // cursor: pointer;
}
