@mixin normalTextZh {
  font-size: 14px;
  line-height: 36px;
  font-family: "Microsoft YaHei", "Ping Fang SC", Arial, Helvetica, sans-serif;
}
@mixin bgImage($img) {
  background-image: url($img + ".png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url($img + "@2x.png");
  }
}
@mixin mainTitle {
  .title {
    @include normalTextZh;
    font-family: nasalization;
    font-size: 40px;
    line-height: 1em;
    color: $mainColor;
    @include media-breakpoint-down(sm) {
      padding: 2rem 0;
      font-size: 1.8rem;
    }
  }
  .title-zh {
    @include normalTextZh;
    font-family: nasalization;
    font-size: 44px;
    line-height: 1em;
    color: $mainColor;
  }
}
